header {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

body {
  font-family: courier, serif;
  background: RGB(162, 216, 250);  /*sky blue */
  /* background: RGB(252, 246, 207); */
}

.inner-box {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.text-box {
  align-items: center;
}

.submit {
  /* background: RGB(194, 230, 252); lighter sky blue */
  background: RGB(222, 242, 255); /* very light sky blue*/
  border-radius: 5px;
  font-family: courier, serif;
}
